.advantages {
    margin-top: 200px;
    // display: none;
}

.advantages__container {
   
    padding: 100px 85px 100px 85px;
    box-sizing: border-box;
    position: relative;

    &::before {
        position: absolute;
        width: 100%;
        height: 577px;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $usecolour2;
        border-radius: $radious;
        content: '';
        -webkit-border-radius: $radious;
        -moz-border-radius: $radious;
        -ms-border-radius: $radious;
        -o-border-radius: $radious;
    }
}

.advantages__content {
    text-align: center;
}

.advantages__title {
    padding: 0;
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    text-align: center;

    color: #FEFCF7;

}

.advantages__discription {
    padding: 0;
    margin: 0;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 32px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.advantages__list {
    @include reset-list;
    display: flex;
    text-align: center;
    margin-top: 86px;
    // background-color: $usecolour1;
}

.advantages__itom {
    width: calc((100%-60px) /2);
    background-color: $usecolour1;
    margin-right: 30px;
    padding: 200px 48px 48px 48px;
    border-radius: $radious;
    -webkit-border-radius: $radious;
    -moz-border-radius: $radious;
    -ms-border-radius: $radious;
    -o-border-radius: $radious;

    &:last-child {
        margin-right: 0;
        background-image: url("../images/carbig.svg");
        background-repeat: no-repeat;
        background-position: top 72px center;
    }

    &:nth-child(2n) {
        background-image: url("../images/gift.svg");
        background-repeat: no-repeat;
        background-position: top 72px center;
    }

    &:first-child {
        background-image: url("../images/coffee.svg");
        background-repeat: no-repeat;
        background-position: top 86px center;
    }
}

.advantages__itom-title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #FEFCF7;

}

.advantages__itom-discription {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #FEFCF7;
}

@media only screen and (max-width:1024px) {

    .advantages__itom {
        margin-right: 30px;
        padding: 180px 40px 40px 40px;

        &:last-child {
            margin-right: 0;
            background-position: top 60px center;
        }

        &:nth-child(2n) {

            background-position: top 50px center;
        }

        &:first-child {

            background-position: top 60px center;
        }
    }



}

@media only screen and (max-width:992px) {

    .advantages__itom {
        margin-right: 30px;
        padding: 160px 30px 20px 30px;


    }
}

@media only screen and (max-width:850px) {

    .advantages__itom {
        margin-right: 30px;
        padding: 140px 20px 10px 20px;


        &:last-child {
            margin-right: 0;
            background-position: top 50px center;
        }

        &:nth-child(2n) {

            background-position: top 40px center;
        }

        &:first-child {

            background-position: top 40px center;
        }
    }

}

@media only screen and (max-width:768px) {
    .advantages__container {
        padding: 70px 85px 100px 85px;
    }

    .advantages__content {
        max-width: 540px;
        margin: 0 auto;

    }

    .advantages__title {

        font-size: 32px;
        line-height: 48px;

    }

    .advantages__discription {

        margin-top: 24px;
        font-size: 15px;

    }

    .advantages__list {
        display: flex;
        flex-direction: column;
        margin-top: 60px;



    }

    .advantages__itom-wrap {
        max-width: 344px;
        padding: 0px 48px 41px 181px;
        display: block;


    }

    .advantages__itom {
        width: 100%;
        margin-right: 0px;
        padding: 41px 0 0px 0;
        margin-bottom: 24px;
        // display: flex;

        &:last-child {
            margin-bottom: 0;
            background-position: top 62px left 65px;
        }

        &:nth-child(2n) {

            background-position: top 62px left 65px;
        }

        &:first-child {

            background-position: top 62px left 65px;
        }
    }

    .advantages__itom-title {
        font-size: 24px;
        line-height: 32px;
        color: #FEFCF7;
        text-align: left;

    }

    .advantages__itom-discription {
        margin-top: 16px;
        font-size: 16px;
        line-height: 26px;
        text-align: left;

    }


}

@media only screen and (max-width:580px) {
    .advantages__container {

        padding: 100px 35px 100px 35px;


        &::before {

            height: 760px;

        }
    }
}

@media only screen and (max-width:500px) {
    .advantages__container {

        padding: 100px 35px 100px 35px;


        &::before {

            height: 760px;

        }
    }

    .advantages__itom-wrap {
        max-width: 344px;
        padding: 0px 28px 41px 161px;
        display: block;


    }

    .advantages__itom {
        width: 100%;
        margin-right: 0px;
        padding: 41px 0 0px 0;
        margin-bottom: 24px;
        // display: flex;

        &:last-child {
            margin-bottom: 0;
            background-position: top 62px left 45px;
        }

        &:nth-child(2n) {

            background-position: top 62px left 45px;
        }

        &:first-child {

            background-position: top 62px left 45px;
        }
    }
}

@media only screen and (max-width:375px) {
    .advantages__container {

        padding: 64px 24px 100px 24px;


        &::before {

            height: 928px;

        }

        .advantages__list {
          
            margin-top: 60px;
            flex-direction: column;
           
        }

        .advantages__itom-wrap {
            padding: 160px 12px 52px 21px;

        }

        .advantages__itom-title {

            text-align: center;

        }

        .advantages__itom-discription {
            margin-top: 24px;
            text-align: center;

        }

        .advantages__itom {
            width: 100%;
           

            &:last-child {

                margin-right: 0;
                background-image: url("../images/carbig.svg");
                background-repeat: no-repeat;
                background-position: top 72px center;
            }

            &:nth-child(2n) {
                background-image: url("../images/gift.svg");
                background-repeat: no-repeat;
                background-position: top 72px center;
            }

            &:first-child {
                background-image: url("../images/coffee.svg");
                background-repeat: no-repeat;
                background-position: top 86px center;
            }
        }
    }
}